@import "../../styles/mixins.scss";

.poster {
  &:first-child {
    @include onPhone {
      margin: 0 auto;
      margin-bottom: 2em;
    }
  }

  .MuiGrid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onPhone {
      margin: 0 auto;
      margin-bottom: 2em;
    }
  }
}

.widget {
  @include onPhone {
    width: 100%;
    margin: 0 auto;
  }
}
