@import "../../styles/mixins.scss";

.poster {
  height: 255px;
  width: 160px;

  border-radius: 6px;
  background-size: cover;
}

.card {
  width: 400px;
  background-color: none;
  height: 300px;
  @include onPhone {
    width: 350px;
  }
}
