.footer {
  margin-top: auto;
  padding-block: 16px;
  display: flex;
  justify-content: center;

  box-shadow: 0px -1px 0px 0px gray;

  .logo {
    width: 4.375rem;
    height: 4.375rem;
  }

  .footerWrapper {
    display: flex;
    justify-content: space-between;

    .buttonsWrapper {
      display: flex;
      gap: 100px;
    }

    .upWrapper {
      .arrowUp {
        position: relative;
        border: 1px solid rgb(180, 189, 195);
        width: 32px;
        height: 32px;
        border-radius: 50px;
        transition: border 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      }
    }
  }
}
