@import "../../styles/mixins.scss";

.logo {
  width: 70px;
  height: 70px;
}

.icon {
  height: 24px;
  width: 24px;
}

.headerMargin {
  margin-bottom: 70px;

  @include onPhone {
    flex-direction: column;
  }
}

.headerLang {
  display: flex;
  gap: 1;
  align-items: center;

  @include onPhone {
    display: none;
  }
}
