@import "../../styles/mixins.scss";

.logo {
  width: 70px;
  height: 70px;
}

.icon {
  height: 24px;
  width: 24px;
}

.headerMargin {
  margin-bottom: 70px;

  @include onPhone {
    flex-direction: column;
  }
}

.headerToolbar {
  padding: 1em;
  gap: 1.8em;
  align-items: center;
}

.headerTextLogo {
  text-decoration: none;
  flex-grow: 1;
}

.headerClock {
  display: flex;
  gap: 1;
  align-items: center;

  @include onPhone {
    display: none;
  }
}

.headerLanguage {
  color: #fff;
  display: flex;
  align-items: center;

  .headerLanguageWrapper {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
}
