@import "../../styles/mixins.scss";

.logo {
  width: 4.375rem;
  height: 4.375rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.headerMargin {
  margin-bottom: 4.375rem;

  @include onPhone {
    flex-direction: column;
  }
}

.headerToolbar {
  padding: 1em;
  gap: 1.8em;
  align-items: center;
}

.headerTextLogo {
  text-decoration: none;
  flex-grow: 1;
}

.headerClock {
  display: flex;
  gap: 1;
  align-items: center;

  @include onPhone {
    display: none;
  }
}

.headerLanguage {
  color: #fff;
  display: flex;
  align-items: center;
}

.headerLanguageWrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
