.posterWrapper {
  // position: sticky;

  display: flex;
  flex-direction: column;
  width: 250px;

  justify-content: center;

  margin: 0 auto;

  margin-bottom: 25px;

  .poster {
    height: 22.25rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
