@import "../../styles/mixins.scss";

.FormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2rem;

  min-width: 31.25rem;

  @include onPhone {
    min-width: 18.75rem;
  }
}

.ErrorText {
  padding-top: 0.3125rem;
  font-weight: 400;
}
