@import "../../styles/mixins.scss";

.filterWrapper {
  display: flex;
  gap: 1.3em;
  margin-bottom: 3em;

  align-items: center;

  @include onPhone {
    align-items: normal;
  }

  .filterTitle {
    text-transform: uppercase;
  }

  .filterBtnGroup {
    margin-left: 2em;

    .filterActiveBtn {
      background-color: red;
    }
  }

  .filtersFormats {
    display: flex;
    align-items: center;
  }
  @include onPhone {
    flex-direction: column;
    gap: 3em;
  }

  .filterSortWrapper {
    display: flex;
    align-items: center;
    min-width: 9.4rem;
  }

  .filterSearchWrapper {
    display: flex;
    align-items: center;
    gap: 1em;

    .filterSearch {
      width: 20rem;

      @include onPhone {
        width: 100%;
      }
    }
  }

  .filterSelect {
    height: 3.125rem;
  }
}
